    {{- partial "head.html" . -}}
        <div id="site" class="flex flex-col min-h-screen">
            {{- partial "header.html" . -}}
            <div id="content" class="flex flex-col flex-grow flex-no-shrink">
            {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
