::selection {
    background: #99a6b2;
}

@responsive {
    .tracking-double-wide {
        letter-spacing: .1em;
    }
}

@responsive {
    .fb-3 {
        flex-basis: 30%;
    }

    .fb-45 {
        flex-basis: 45%;
    }
}

@responsive {
    .link-hover-bar:root {
        --distance: 8px;
        --duration: .2s;
        --easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    }

    .link-hover-bar:before,
    .link-hover-bar:after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0; right: 0;
        height: 2px;
        background-color: #fff;
    }

    .link-hover-bar:before {
        opacity: 0;
        transform: translateY(-8px);
        transition: transform 0s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s;
    }

    .link-hover-bar:after {
        opacity: 0;
        transform: translateY(8px/2);
        transition: transform .3s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .3s;
    }

    .link-hover-bar:active:before,
    .link-hover-bar:hover:before,
    .link-hover-bar:focus:before,
    .link-hover-bar:active:after,
    .link-hover-bar:hover:after,
    .link-hover-bar:focus:after {
        opacity: 1;
        transform: translateY(0);
    }

    .link-hover-bar:active:before,
    .link-hover-bar:hover:before,
    .link-hover-bar:focus:before {
        transition: transform .3s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .3s;
    }

    .link-hover-bar:active:after,
    .link-hover-bar:hover:after,
    .link-hover-bar:focus:after {
        transition: transform 0s .3s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s .3s;
    }

    .link-hover-bar.active:after {
        opacity: 1;
        transform: translateY(0);
        transition: none;
        background-color: #fff;
    }
}
