{{ if ne .Site.Params.amp false }}

<!doctype html>
<html {{ if isset $.Site.Params "amp" }}⚡{{ end }} lang="{{ with $.Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}" class="no-js">
<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">

    {{ partial "amp/header" . }}

    <link rel="canonical" href="{{ .Permalink }}">

    <link rel="icon" href="/favicon.png" type="image/png" sizes="144x144">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    {{ with .Site.GetPage "/" }}
        {{ with .OutputFormats.Get "rss" }}
        <link href="{{ .Permalink }}" rel="feed" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
        <link href="{{ .Permalink }}" rel="alternate" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
        {{ end }}
        {{ with .OutputFormats.Get "json" }}
        <link href="{{ .Permalink }}" rel="alternative" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
        {{ end }}
    {{ end }}

    <meta name="theme-color" content="{{ $.Site.Params.themeColor }}" />
    <meta name="description" content="{{ .Params.description }}" />

    {{ partial "seo/main" . }}
</head>

<body class="bg-primary flex flex-col font-sans min-h-screen text-text">
{{ if isset $.Site.Params "ampmanifest" }}
{{ with $.Site.Data.app.banner }}{{ partial "amp/app-banner" . }}{{ end }}
{{ end }}

{{ else }}
{{ partial "structure/head.no-amp" . }}
{{ end }}
{{ partial "amp/install-serviceworker" }}
    