<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">

    <link rel="canonical" href="{{ .Permalink }}">

    <link rel="icon" href="/favicon.png" type="image/png" sizes="144x144">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    <meta name="theme-color" content="{{ $.Site.Params.themeColor }}" />

    {{ partial "seo/main" . }}

</head>

<body class="bg-primary flex flex-col font-sans min-h-screen text-text">