{{ define "main" }}
    <main class="flex flex-col flex-grow flex-no-shrink justify-center items-center">
        <h1 class="tracking-double-wide font-light text-3xl">page not found</h1>
        <h2 class="font-thin text-xs text-white">probably not a good thing...probably</h2>
    </main>
{{ end }}