{{ define "main" }}
    <main class="container mx-auto pt-16">
        <div class="flex flex-row -mx-2">
            {{ range .Pages }}
            <div class="lg:fb-3 md:fb-4 bg-project mx-5 p-4">
                <div class="mx-auto w-full justify-center">
                    {{.Title}}
                </div>
            </div>
            <div class="lg:fb-3 md:fb-4 bg-project mx-5 p-4">
                <div class="mx-auto w-full justify-center">
                    {{.Title}}
                </div>
            </div>
            {{ end }}
        </div>
    </main>
{{ end }}